extends _admin_layout.pug

block content
  .p-4.container
    //- style.
    //-   #result {
    //-       border: 1px solid #888;
    //-       background: #f7f7f7;
    //-       padding: 1em;
    //-       margin-bottom: 1em;
    //-   }
  
    //- #result

    .mdc-dialog(role='alertdialog' aria-modal='true' aria-labelledby='my-dialog-title')
      form#modal-form.mdc-dialog__container(method='POST' action='')
        .mdc-dialog__surface
          // Title cannot contain leading whitespace due to mdc-typography-baseline-top() 
          h2.mdc-dialog__title#my-dialog-title
          // will set action by data-* attribute
          .mdc-dialog__content#my-modal-content
            .required-asterisk.note * Required
            //- TODO: may need to handle ordering better
            .form-group
              label.col-form-label(for="modal-order") 順序:
              | 
              span.required-asterisk *
              input#modal-order.form-control(type='text' name='order' required)
            .form-group
              label.col-form-label(for="modal-title") 標題:
              | 
              span.required-asterisk *
              input#modal-title.form-control(type='text' name='name' required)
            .form-group
              label.col-form-label(for="modal-permalink") Permalink:
              | 
              span.required-asterisk *
              .input-group
                .input-group-prepend
                  span.input-group-text /static-pages/
                input#modal-permalink.form-control(type='text' name='permalink' pattern="[a-zA-Z0-9-_]+" required)
              small.form-text.text-muted 只可包含英文字母大小寫、數字、連結號 (-)、及下劃線 (_)
          footer.mdc-dialog__actions
            button.mdc-button.mdc-dialog__button(type='button', data-mdc-dialog-action='close')
              span.mdc-button__label Cancel
            //- TODO: will need to hold the modal if the information is not correct
            button.mdc-button.mdc-dialog__button(type='submit')
              span.mdc-button__label OK
      .mdc-dialog__scrim
    .row
      button#new-static-page.create-new.mdc-button.mdc-button--raised
        i.material-icons add
        span.mdc-button__label 添加靜態頁面
    .row.mt-3
      table.static-page-list-table.table.table-bordered.table-hover.table-responsive-md(data-order='[[ 1, "asc" ]]' data-page-length='10')
        thead
          tr.main-list-title
            th(scope="col" data-orderable='false')
            th(scope="col" type='num') 順序
            th(scope="col" type='string') 標題
            th(scope="col" type='string') Permalink
            th(scope="col" data-orderable='false') 快速編輯
            th(scope="col" data-orderable='false') 編輯頁面
            th(scope="col" data-orderable='false') 刪除
        tbody
          each row in data
            tr
              td.reorder :::
              td= row.order
              td= row.name
              td
                a(href=`/static-pages/${row.permalink}`)= `/${row.permalink}`
              td(style="text-align: center;")
                button.static-page-quick-edit.mdc-button.mdc-button--dense.no-min-width(data-static-page=(JSON.stringify(row)))
                  i.material-icons edit
              td(style="text-align: center;")
                button.edit-btn.mdc-button.mdc-button--dense.no-min-width(onclick=`window.location.href='/admin/static-pages/${row.permalink}/edit';`)
                  i.material-icons edit
              td(style="text-align: center;")
                button.static-page-delete.mdc-button.mdc-button--dense.no-min-width(data-static-page=(JSON.stringify(row)))
                  i.material-icons delete_forever