extends _admin_layout.pug

block content
  main.p-4.container
    .row
      button#new-static-page.mdc-button.mdc-button--raised
        i.material-icons add
        span.mdc-button__label 添加靜態頁面
    .row.mt-3
      table.main-list-table.table.table-bordered.table-hover.table-responsive-md
        thead
          tr.main-list-title
            th(scope="col" type='num') 順序
            th(scope="col" type='string') 標題
            th(scope="col" type='string') Permalink
            th(scope="col" data-orderable='false') 編輯
            th(scope="col" data-orderable='false') 刪除
        tbody
          each row in data
            tr
              td= row.order+1
              td= row.name
              td
                a(href=`/static-pages/${row.permalink}`)= `/${row.permalink}`
              td(style="text-align: center;")
                button.edit-btn.mdc-button.mdc-button--dense.no-min-width(onclick=`window.location.href='/admin/static-pages/${row.permalink}/edit';`)
                  i.material-icons edit
              td(style="text-align: center;")
                button.delete-btn.mdc-button.mdc-button--dense.no-min-width(data-tour=(JSON.stringify(row)) data-menu=(JSON.stringify(menu)))
                  i.material-icons delete_forever  