extends _layout.pug

block content
  main.grid-container.site-content
    .swiper-container
      .swiper-wrapper
        each slide, i in tour_slides
          .swiper-slide
            a(href="#")
              img(src=`/images/${slide.image}`, alt="photos")
    .grid-x.grid-padding-x.medium-up-3.large-up-4
      .cell
        a.card(href=`http://ctourus.com/wp-content/uploads/2017/12/ccxj08-300x200.jpg`)
          .card-image
            img(src=`http://ctourus.com/wp-content/uploads/2017/12/ccxj08-300x200.jpg`, alt="photos")
      .cell
        a.card(href=`http://ctourus.com/wp-content/uploads/2018/11/CCSL10-1-300x200.jpg`)
          .card-image
            img(src=`http://ctourus.com/wp-content/uploads/2018/11/CCSL10-1-300x200.jpg`, alt="photos")
      .cell
        a.card(href=`http://ctourus.com/wp-content/uploads/2017/12/ccdb08-changbaishan-Small-300x200.jpg`)
          .card-image
            img(src=`http://ctourus.com/wp-content/uploads/2017/12/ccdb08-changbaishan-Small-300x200.jpg`, alt="photos")
      .cell
        a.card(href=`http://ctourus.com/wp-content/uploads/2018/11/CCSD07-1-300x200.jpg`)
          .card-image
            img(src=`http://ctourus.com/wp-content/uploads/2018/11/CCSD07-1-300x200.jpg`, alt="photos")
    //-   each tour in highlight_tours
    //-     .cell
    //-       a.card(href=`/tours/${tour.tour_type}/${tour.tour_id}`)
    //-         .card-image
    //-           img(src=tour.images[0], alt="photos")
    //-           //- img(src=`/images/userUpload/thumbnails/${tour.tour_id}-thumb.jpg`, alt="")
    //-         .card-section
    //-           p= tour.name
    //-           h4.price-highlight= `$${tour.starting_price}`

    style.
      li{list-style:none}
      .hidden {
          display: none!important;
          visibility: hidden;
      }
      .hotPro{ margin-top: 35px; }
      .tabWrap .tab{ position: relative; height: 48px; text-align: center;}
      .tabWrap .tab .more{ position: absolute; top: 0; right: 0; line-height: 48px; color: #0488d2}
      .tabWrap .tab li{ display: inline-block; vertical-align: top; margin: 0 15px;}
      .tabWrap .tab.hot li{ margin: 0 45px;}
      .tabWrap .tab li a{ padding: 0 5px; line-height: 42px; font-size: 24px; color: #666}
      .tabWrap .tab li.active,
      .tabWrap .tab li:hover
      { border-bottom: 5px solid #fe6929;}
      .tabWrap .tab li.active a,
      .tabWrap .tab li:hover a
      { color: #fe6929; text-decoration: none;}

      .tabWrap .tabCon{ margin-top: 25px;}
      .hotPro .tabCon ul{ height: 320px; margin: 0 -6px;}
      .hotPro .tabCon ul li{ position: relative; float: left; width: 25%;}
      .hotPro .tabCon ul li .tag{ z-index: 1; position: absolute; right: 32px; top: -14px; width: 48px; height: 48px; line-height: 48px;}
      .hotPro .tabCon ul li a{ display: block; overflow: hidden; margin: 0 6px; padding: 8px; background: #fff;}
      .hotPro .tabCon ul li a .pic{ display: block; overflow: hidden; }
      .hotPro .tabCon ul li a .tit{ margin: 10px 0 5px; line-height: 24px;}
      .hotPro .tabCon ul li a:hover .tit{ color: #000;}
      .hotPro .tabCon ul li a .price{ font-size: 24px; color: #fe6929;}

      .hotPro .tabCon ul li a:hover{ text-decoration: none;}
      .hotPro .tabCon ul li a img{ transition: all 0.3s;}
      .hotPro .tabCon ul li a .pic:hover img{ transform: scale(1.2); }

    .hotPro.tabWrap
      .tab.hot
        ul
          li.active(data-index='0')
            a(href='javascript:;') 文景特惠
          li(data-index='1')
            a(href='javascript:;') 团购秒杀
          li(data-index='2')
            a(href='javascript:;') 本周主打
          li(data-index='3')
            a(href='javascript:;') 畅游全景
      .tabCon.hidden
        ul
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/tehui.png')
            a(href='http://www.wenjing.com/6-day-new-yor-philadelphia-washington-niagara-falls-boston-harvard-university-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5acafaaea4eb0_350_262.jpg' width='280' height='210')
              .tit 六天纽约,自由女神像,费城,华盛顿,尼亚加拉大瀑布,哈佛大学,波士顿,美东深度游(
              .price $300
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/tehui.png')
            a(href='http://www.wenjing.com/6-day-frankfurt-zurich-bern-chillon-castle-lausanne-jungfrau-lucerne-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5adffa59a9965_350_262.png' width='280' height='210')
              .tit 六天法兰克福,苏黎世,圣母大教堂,伯尔尼,西庸城堡,洛桑,少女峰,琉森,莱茵河瀑布
              .price $659
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/tehui.png')
            a(href='http://www.wenjing.com/9-day-vancouver-banff-columbia-icefield-lake-louise-yellowstone-seattle-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/58fe7fc16a423_350_262.jpg' width='280' height='210')
              .tit 九天温哥华,班芙国家公园,哥伦比亚冰原,露易丝湖,黄石公园,哥特龄湖,西雅图超值
              .price $607
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/tehui.png')
            a(href='http://www.wenjing.com/10-day-los-angeles-antelope-canyon-yellowstone-las-vegas-tour.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5c1c461c2ae43_350_262.jpg' width='280' height='210')
              .tit 十天洛杉矶,羚羊彩穴,黄石公园,拉斯维加斯,西峡谷,主题乐园轻松游(独家入住西峡
              .price $681
      .tabCon
        ul
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/tuangou.png')
            a(href='http://www.wenjing.com/6-day-new-york-philadelphia-washington-dc-niagara-falls-boston-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5ac4895306d3c_350_262.png' width='280' height='210')
              .tit 六天纽约,费城,华盛顿,康宁玻璃中心,尼亚加拉大瀑布,波士顿,美东经典之旅(纽约接
              .price $224
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/tuangou.png')
            a(href='http://www.wenjing.com/9-day-los-angeles-san-francisco-east-rim-page-horseshoe-bend-page-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5b4f0677e7deb_350_262.jpg' width='280' height='210')
              .tit 九天洛杉矶,东峡谷,佩吉,马蹄湾,鲍威尔湖,旧金山,优胜美地,主题乐园轻松游(洛杉
              .price $581
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/tuangou.png')
            a(href='http://www.wenjing.com/6-day-san-francisco-las-vegas-grand-canyon-west-rim-los-angeles-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5c1c70ab9512a_350_262.jpg' width='280' height='210')
              .tit 六天旧金山,拉斯维加斯,西峡谷,洛杉矶超值游(独家入住峡谷小木屋)(旧金山接机,洛
              .price $396
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/tuangou.png')
            a(href='http://www.wenjing.com/8-day-los-angeles-las-vegas-antelope-canyon-san-francisco-yosemite-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/58df6f18614fe_350_262.jpg' width='280' height='210')
              .tit 八天洛杉矶,拉斯维加斯,大峡谷/西峡谷/羚羊彩穴,优胜美地,旧金山深度游(洛杉矶接
              .price $394
      .tabCon.hidden
        ul
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/zhuda.png')
            a(href='http://www.wenjing.com/9-day-frankfurt-zurich-lucerne-geneva-barcelona-avignon-lyon-colmar-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5b3326374263a_350_262.jpg' width='280' height='210')
              .tit 九天法兰克福,苏黎世大教堂,琉森,日内瓦,巴塞罗那,圣家堂,阿维尼翁,科尔马,里昂
              .price $859
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/zhuda.png')
            a(href='http://www.wenjing.com/11-day-wuhan-yichang-chongiqng-chengdu-mountain-emei-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5bc6fbc785be0_350_262.png' width='280' height='210')
              .tit 十一天武汉,宜昌,黄鹤楼,屈原故里,重庆,洪崖洞,成都,乐山大佛,峨眉山,三峡风情游
              .price $1,499
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/zhuda.png')
            a(href='http://www.wenjing.com/8-day-anchorage-whittier-seward-talkeetna-denali-national-park-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5c81cc446617b_350_262.png' width='280' height='210')
              .tit 八天阿拉斯加,安克雷奇,惠蒂尔,西沃德,陶基纳,追寻棕熊,迪纳利国家公园,玻璃穹顶
              .price $1,499
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/zhuda.png')
            a(href='http://www.wenjing.com/7-day-san-francisco-las-vegas-salt-lake-city-yellowstone-horseshoe-bend-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5aceba2a8dd16_350_262.jpg' width='280' height='210')
              .tit 七天旧金山,拉斯维加斯,盐湖城,黄石公园,东南双峡,马蹄湾美景游(旧金山参团,旧金
              .price $514
      .tabCon.hidden
        ul
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/quanjing.png')
            a(href='http://www.wenjing.com/13-day-new-york-niagara-fall-washington-yellowstone-antelope-las-vegas-west-grand-canyon-rim-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5caf0c2359a38_350_262.jpg' width='280' height='210')
              .tit 十三天纽约,尼亚加拉瀑布,华盛顿,黄石公园,羚羊彩穴,拉斯维加斯,西峡谷,美国东西
              .price $555
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/quanjing.png')
            a(href='http://www.wenjing.com/14-day-new-york-washington-falls-los-angeles-las-vegas-yellowstone-salt-lake-city-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5cb42f020292a_350_262.jpg' width='280' height='210')
              .tit 十四天纽约,尼亚加拉瀑布,华盛顿,波士顿,洛杉矶,拉斯维加斯,黄石公园,盐湖城,美
              .price $688
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/quanjing.png')
            a(href='http://www.wenjing.com/12-day-washington-new-york-niagara-fall-las-vegas-antelope-canyon-salt-lake-city-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5ca5eab4e665c_350_262.png' width='280' height='210')
              .tit 十二天纽约,尼亚加拉瀑布,华盛顿,黄石公园,拉斯维加斯,羚羊彩穴,盐湖城,东西海岸
              .price $555
          li
            .tag
              img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/quanjing.png')
            a(href='http://www.wenjing.com/9-day-new-york-niagara-fall-salt-lake-city-yellowstone-jacken-tour-package.html')
              .pic
                img(src='./文景假期 _ 北美第一华人旅游集团 _ 10+家门店覆盖全美 _ 线上+线下提供专业服务 _ 您身边的资深贴心旅游管家_files/5ca1e67cb8745_350_262.jpg' width='280' height='210')
              .tit 九天纽约,费城,尼亚加拉大瀑布,波士顿,盐湖城,大提顿国家公园,杰克逊小镇,黄石公
              .price $499

    


    
