extends _layout.pug

block content
  main.grid-container.site-content
    .swiper-container
      .swiper-wrapper
        each slide, i in tour_slides
          .swiper-slide
            a(href="#")
              img(src=`/images/${slide.image}`, alt="photos")
    .grid-x.grid-padding-x.medium-up-3.large-up-4
      each tour in highlight_tours
        .cell
          a.card(href=`/tours/${tour.tour_type}/${tour.tour_id}`)
            .card-image
              img(src=tour.images[0], alt="photos")
              //- img(src=`/images/userUpload/thumbnails/${tour.tour_id}-thumb.jpg`, alt="")
            .card-section
              p= tour.name
              h4.price-highlight= `$${tour.starting_price}`
