extends _edit_layout.pug

block content
  if flash.error
    .callout.alert(data-closable)
      .callout-message !{flash.error}
      button.close-button(aria-label='Dismiss alert' type='button' data-close)
        span(aria-hidden='true') &times;
  if flash.success
    .callout.success(data-closable)
      .callout-message !{flash.success}
      button.close-button(aria-label='Dismiss alert' type='button' data-close)
        span(aria-hidden='true') &times;
  form(method='POST' action='' enctype='application/x-www-form-urlencoded')
    .site-content.grid-container
      h2#name.editable-header!= name
      #content.static-content.editable-block!= content

    footer.admin-edit
      input.clear.button.primary(value="Back" type="button" onclick=`window.location.href='/admin/static-pages';`)
      input.clear.button.primary(value="Reset" type="reset")
      input.clear.button.primary(value="Save" formaction=`/admin/static-pages/${permalink}/save` type="submit")
      input.button.primary(value="Save & Quit" formaction=`/admin/static-pages/${permalink}/save-and-quit` type="submit")