extends _layout.pug

block content
  main.grid-container.site-content
    .card(style="padding: 20px;")
      .highlight-container.grid-x.grid-margin-x
        .swiper-container.cell.medium-5
          .swiper-wrapper
            each image in data.images
              .swiper-slide
                img(src=image, alt="")
        .trip-highlight-container.cell.medium-7
          h3= data.name
          div= `線路編號：${data.tour_id}`
          div= `行程天數：${data.duration}天`
          div= `旅遊團費：$${data.starting_price}`

          .separator.thin

          .highlight!= data.full_description
  
        if data.schedule_table && data.schedule_table !== ''
          .available-dates
            != data.schedule_table
    .top-bar.detail-menu(data-smooth-scroll data-animation-duration="800" data-animation-easing="swing" data-offset="60" data-magellan)
      ul.top-bar-left.menu
        li
          a(href="#trip-details") 行程介紹
        li
          a(href="#travel-info") 交通信息
        li
          a(href="#pricing-details") 費用明細
        li
          a(href="#notice") 訂購須知
    section#trip-details.card(data-magellan-target="trip-details" style="padding: 20px;")
      //- img(src="/images/tour-plan.png")
      .section-title
        i.material-icons directions_bus
        span 行程介紹
      each day, i in data.tour_plan
        .trip-day
          .trip-day-title
            .date-title-icon
              = 'D' + (i+1)
            h4!= day.title
          .trip-content-container
            .trip-day-description
              i.other-icon.material-icons location_on
              div!= day.description
            if day.sights && day.sights.length !== 0
              .trip-day-photos
                i.other-icon.material-icons camera_alt
                .sight-container
                  span 途徑景點：
                  //- .thumbnails(id=`d${i}_thumbs`)!= day.sights
                  .thumbnails
                    each sight in day.sights
                      img(src=sight)
            if day.stay && day.stay !== ""
              .trip-day-hotel
                i.other-icon.material-icons hotel
                div!= day.stay
          if(i < data.tour_plan.length - 1)
            .separator.thin
    
    section#travel-info.card(data-magellan-target="travel-info" style="padding: 20px;")
      .section-title
        i.material-icons directions_bus
        span 交通信息
      div!= data.pickup_service
    
    section#pricing-details.card(data-magellan-target="pricing-details" style="padding: 20px;")
      .section-title
        i.material-icons attach_money
        span 費用明細
      div!= data.price_breakdown

    section#notice.card(data-magellan-target="pricing-details" style="padding: 20px;")
      .section-title
        i.material-icons priority_high
        span 訂購須知
      div!= data.notice