extends _edit_layout.pug

block content
  form(method='POST' action='' enctype='application/x-www-form-urlencoded')
    main.grid-container.site-content(style="margin-top: 100px; margin-bottom: 120px;")
      #modal
        h2 Edit slideshow photos
        h6.content-header The first photo will be used as the main photo.
        //- #images.editable-thumbnails.content!= data.images
        #images.editable-thumbnails.content
          each image in data.images
            img(src=image, alt="photos")
      div(style="margin-bottom: 60px;")
        .grid-x.grid-padding-x
          fieldset.cell.small-2
            input#is-highlight(type="checkbox" name="is_highlight" checked=(data.is_highlight))
            label.text-right.middle(for="is-highlight" style="margin-left: 15px;") Highlight
          label.cell.small-1.text-right.middle(for="tour-type-select") 線路分類:
          select#tour-type-select.cell.small-2(name="tour_type")
            each t in menu
              option(value=(t.permalink) selected=(data.tour_type === t.permalink))= t.name
        .grid-x.grid-padding-x
          label.cell.small-1.text-right.middle(for="start-date") 出發日期:
          input#start-date.cell.small-4(type='date' name='start_date' value=data.start_date)
          label.cell.small-1.text-right.middle(for="end-date") 結束日期:
          input#end-date.cell.small-4(type='date' name='end_date' value=data.end_date)
        .grid-x.grid-padding-x
          label.cell.small-1.text-right.middle(for="start-city") 出發城市:
          input#start-city.cell.small-4(type='text' name='start_city' value=data.start_city)
          label.cell.small-1.text-right.middle(for="end-city") 結束城市:
          input#end-city.cell.small-4(type='text' name='end_city' value=data.end_city)
      .highlight-container.grid-x.grid-margin-x
        a.cell.medium-5.swiper-overlay(data-fancybox, data-touch="false", data-keyboard="false", data-src='#modal', href='javascript:;')
          .swiper-container
            //- .swiper-wrapper!= data.images
            
            //- will need .swiper-slide wrapper for each img which we will do through js
            .swiper-wrapper
              each image in data.images
                .swiper-slide
                  img(src=image, alt="photos")
        .trip-highlight-container.cell.medium-7
          h3#name.editable-header= data.name
          div
            | 線路編號：
            input(value=data.tour_id name="tour_id" pattern="[a-zA-Z0-9-_]+" style="text-transform: uppercase;")
          div
            | 行程天數：
            input#duration(value=data.duration name="duration" title="將根據行程動態調整" style="width: 30px;" readonly)
            | 
            | 天
          div
            | 旅遊團費：$
            input(value=data.starting_price name="starting_price" style="width: 50px;")

          .separator.thin

          .highlight#full_description.editable-block!= data.full_description

      .separator.thick
  
      .available-dates
        #schedule_table.editable-block!= data.schedule_table
      .top-bar.detail-menu(data-smooth-scroll data-animation-duration="800" data-animation-easing="swing" data-offset="60" data-magellan)
        ul.top-bar-left.menu
          li
            a(href="#trip-details") 行程介紹
          li
            a(href="#travel-info") 交通信息
          li
            a(href="#pricing-details") 費用明細
          li
            a(href="#notice") 訂購須知
      section#trip-details(data-magellan-target="trip-details")
        //- img(src="/images/tour-plan.png")
        each day, i in data.tour_plan
          .trip-day
            .option-btn-group
              label Options
              button.button.addNewDay(type="button") 增加行程
              button.button.removeDay(type="button") 移除行程
            .trip-day-title
              .date-title-icon= `D${i+1}`
              h4.editable-header(id=`d${i}_title`)!= day.title
            .trip-content-container
              .trip-day-description
                i.other-icon.material-icons location_on
                .editable-block(id=`d${i}_description`)!= day.description
              .trip-day-photos
                i.other-icon.material-icons camera_alt
                .sight-container
                  span 途徑景點：
                  //- .thumbnails.editable-thumbnails(id=`d${i}_thumbs`)!= day.sights
                  .thumbnails.editable-thumbnails(id=`d${i}_thumbs`)
                    if day.sights
                      each sight in day.sights
                        img(src=sight)
              .trip-day-hotel
                i.other-icon.material-icons hotel
                .editable-block(id=`d${i}_stay`)!= day.stay
            if(i < data.tour_plan.length - 1)
              .separator.thin
            
        .separator.thick
      
      section#travel-info(data-magellan-target="travel-info")
        .section-title
          i.material-icons directions_bus
          span 交通信息
        #pickup_service.editable-block!= data.pickup_service

      .separator.thick
      
      section#pricing-details(data-magellan-target="pricing-details")
        .section-title
          i.material-icons attach_money
          span 費用明細
        #price_breakdown.editable-block!= data.price_breakdown

      .separator.thick

      section#notice-section(data-magellan-target="pricing-details")
        .section-title
          i.material-icons priority_high
          span 訂購須知
        #notice.editable-block!= data.notice

    footer.admin-edit
      input.clear.button.primary(value="Back" type="button" onclick=`window.location.href='/admin'`)
      input.clear.button.primary(value="Reset" type="button" onclick=`window.location.reload()`)
      input.clear.button.primary(value="Save" formaction=`/admin/${data.tour_id}/save` type="submit")
      input.button.primary(value="Save & Quit" formaction=`/admin/${data.tour_id}/save-and-quit` type="submit")